@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1m;
}

h5 {
  font-size: 0.75em;
}

h6 {
  font-size: 0.5em;
}

html {
  width: 100vw;
  font-size: 13px;
  overflow-x: hidden;
  background: #111;
}

body {
  overflow-x: hidden;
}

header .logo {
  width: 233px;
  margin: auto;
  fill: #fff;
  opacity: 0;
}

header ~ section {
  padding: 55px 13px 89px;
}

@-webkit-keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes clockwise {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.clockwise {
  -webkit-animation: clockwise linear 120s infinite;
          animation: clockwise linear 120s infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.aniPlanet {
  -webkit-animation: clockwise linear 90s infinite;
          animation: clockwise linear 90s infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.clockwise-reverse {
  animation: clockwise linear 120s infinite reverse;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 1240px;
}

section.one .text h1 {
  opacity: 0;
}

section.one .text h2 {
  opacity: 0;
  margin: 21px 0;
  font-weight: 100;
}

section.one .imgTop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section.one .imgTop .circleImg {
  width: 233px;
  height: 233px;
  display: block;
  margin: 34px 0;
  position: relative;
}

section.one .imgTop .circleImg .img {
  width: 233px;
  height: 233px;
  padding: 21px 0 0 21px;
  background: linear-gradient(-45deg, #222, #000) fixed;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0px 30px 20px #ffffff08;
          box-shadow: 0px 30px 20px #ffffff08;
  opacity: 0;
}

section.one .imgTop svg {
  width: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -5;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
}

section.one .imgTop svg circle {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

section.one .imgTop svg .dots {
  stroke-dasharray: 3, 10;
}

section.one .imgTop svg circle:nth-child(1n) {
  opacity: 0;
  stroke-width: 1;
}

section.one .imgTop svg circle:nth-child(2n) {
  opacity: 0;
  stroke-width: 1;
}

section.one .imgTop svg circle:nth-child(3n) {
  opacity: 0;
  stroke-width: 1;
}

section.one .imgTop svg circle:nth-child(4n) {
  opacity: 0;
  stroke-width: 1;
}

section.two {
  position: relative;
}

section.two h1 {
  opacity: 0;
  margin-bottom: 34px;
}

section.two .information {
  display: -ms-grid;
  display: grid;
}

section.two .information input {
  display: none;
}

section.two .information input:checked#adapt ~ .scroll .boxServices div.adaptBox,
section.two .information input:checked#adapt ~ .textInformation .boxServices div.adaptBox {
  -webkit-box-shadow: 0 0 20px 1px #ffffff11;
          box-shadow: 0 0 20px 1px #ffffff11;
  border: 1px double #fff5;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

section.two .information input:checked#adapt ~ .scroll .boxServices div.adaptBox label h2,
section.two .information input:checked#adapt ~ .textInformation .boxServices div.adaptBox label h2 {
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

section.two .information input:checked#adapt ~ .scroll .adaptText,
section.two .information input:checked#adapt ~ .textInformation .adaptText {
  z-index: 1;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

section.two .information input:checked#adapt ~ .scroll .adaptText p,
section.two .information input:checked#adapt ~ .textInformation .adaptText p {
  opacity: 1;
  -webkit-transition: 0.3s ease-in 0.3s;
  transition: 0.3s ease-in 0.3s;
}

section.two .information input:checked#adapt ~ .scroll .adaptText ul li,
section.two .information input:checked#adapt ~ .textInformation .adaptText ul li {
  opacity: 1;
  -webkit-transition: 0.3s ease-in 0.5s;
  transition: 0.3s ease-in 0.5s;
}

section.two .information input:checked#adapt ~ .scroll .adaptText button,
section.two .information input:checked#adapt ~ .textInformation .adaptText button {
  opacity: 1;
  -webkit-transition: 0.3s ease-in 0.8s;
  transition: 0.3s ease-in 0.8s;
}

section.two .information input:checked#reach ~ .scroll .boxServices div.reachBox,
section.two .information input:checked#reach ~ .textInformation .boxServices div.reachBox,
section.two .information input:checked#reach ~ .simbol .boxServices div.reachBox {
  -webkit-box-shadow: 0 0 20px 1px #ffffff11;
          box-shadow: 0 0 20px 1px #ffffff11;
  border: 1px double #fff5;
}

section.two .information input:checked#reach ~ .scroll .boxServices div.reachBox label h2,
section.two .information input:checked#reach ~ .textInformation .boxServices div.reachBox label h2,
section.two .information input:checked#reach ~ .simbol .boxServices div.reachBox label h2 {
  opacity: 1;
}

section.two .information input:checked#reach ~ .scroll .reachText,
section.two .information input:checked#reach ~ .textInformation .reachText,
section.two .information input:checked#reach ~ .simbol .reachText {
  z-index: 1;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

section.two .information input:checked#reach ~ .scroll .reachText p,
section.two .information input:checked#reach ~ .textInformation .reachText p,
section.two .information input:checked#reach ~ .simbol .reachText p {
  opacity: 1;
  -webkit-transition: 0.3s ease-in 0.3s;
  transition: 0.3s ease-in 0.3s;
}

section.two .information input:checked#reach ~ .scroll .reachText ul li,
section.two .information input:checked#reach ~ .textInformation .reachText ul li,
section.two .information input:checked#reach ~ .simbol .reachText ul li {
  opacity: 1;
  -webkit-transition: 0.3s ease-in 0.5s;
  transition: 0.3s ease-in 0.5s;
}

section.two .information input:checked#reach ~ .scroll .reachText button,
section.two .information input:checked#reach ~ .textInformation .reachText button,
section.two .information input:checked#reach ~ .simbol .reachText button {
  opacity: 1;
  -webkit-transition: 0.3s ease-in 0.8s;
  transition: 0.3s ease-in 0.8s;
}

section.two .information input:checked#reach ~ .scroll .reachSvg .aneisPlus,
section.two .information input:checked#reach ~ .textInformation .reachSvg .aneisPlus,
section.two .information input:checked#reach ~ .simbol .reachSvg .aneisPlus {
  opacity: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

section.two .information input:checked#convert ~ .scroll .boxServices div.convertBox,
section.two .information input:checked#convert ~ .textInformation .boxServices div.convertBox,
section.two .information input:checked#convert ~ .simbol .boxServices div.convertBox {
  -webkit-box-shadow: 0 0 20px 1px #ffffff11;
          box-shadow: 0 0 20px 1px #ffffff11;
  border: 1px double #fff5;
}

section.two .information input:checked#convert ~ .scroll .boxServices div.convertBox label h2,
section.two .information input:checked#convert ~ .textInformation .boxServices div.convertBox label h2,
section.two .information input:checked#convert ~ .simbol .boxServices div.convertBox label h2 {
  opacity: 1;
}

section.two .information input:checked#convert ~ .scroll .convertText,
section.two .information input:checked#convert ~ .textInformation .convertText,
section.two .information input:checked#convert ~ .simbol .convertText {
  z-index: 1;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

section.two .information input:checked#convert ~ .scroll .convertText p,
section.two .information input:checked#convert ~ .textInformation .convertText p,
section.two .information input:checked#convert ~ .simbol .convertText p {
  opacity: 1;
  -webkit-transition: 0.3s ease-in 0.3s;
  transition: 0.3s ease-in 0.3s;
}

section.two .information input:checked#convert ~ .scroll .convertText ul li,
section.two .information input:checked#convert ~ .textInformation .convertText ul li,
section.two .information input:checked#convert ~ .simbol .convertText ul li {
  opacity: 1;
  -webkit-transition: 0.3s ease-in 0.5s;
  transition: 0.3s ease-in 0.5s;
}

section.two .information input:checked#convert ~ .scroll .convertText button,
section.two .information input:checked#convert ~ .textInformation .convertText button,
section.two .information input:checked#convert ~ .simbol .convertText button {
  opacity: 1;
  -webkit-transition: 0.3s ease-in 0.8s;
  transition: 0.3s ease-in 0.8s;
}

section.two .information input:checked#convert ~ .scroll .reachSvg .aneisPlus,
section.two .information input:checked#convert ~ .textInformation .reachSvg .aneisPlus,
section.two .information input:checked#convert ~ .simbol .reachSvg .aneisPlus {
  opacity: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

section.two .information input:checked#convert ~ .scroll .convertSvg .quadrante,
section.two .information input:checked#convert ~ .textInformation .convertSvg .quadrante,
section.two .information input:checked#convert ~ .simbol .convertSvg .quadrante {
  stroke-dasharray: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

section.two .information .scroll {
  overflow-x: auto;
}

section.two .information .boxServices {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.two .information .boxServices div[class*="Box"] {
  opacity: 0;
  padding: 21px;
  margin: 8px 2px;
  background: #0005;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 1px #ffffff05;
          box-shadow: 0 0 20px 1px #ffffff05;
}

section.two .information .boxServices div[class*="Box"] label h2 {
  margin-bottom: 13px;
  opacity: 0;
}

section.two .information .boxServices div[class*="Box"] label p {
  max-width: 144px;
  line-height: 1.5em;
  opacity: 0;
}

section.two .information .textInformation {
  height: 377px;
  position: relative;
}

section.two .information .textInformation div[class*="Text"] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 21px 13px;
  margin: 8px 2px;
  -webkit-transition: 0.3s ease-in 0.2s;
  transition: 0.3s ease-in 0.2s;
}

section.two .information .textInformation div[class*="Text"] p {
  line-height: 1.5em;
  opacity: 0;
}

section.two .information .textInformation div[class*="Text"] ul {
  margin-top: 21px;
}

section.two .information .textInformation div[class*="Text"] ul li {
  font-weight: 200;
  line-height: 1.5em;
  opacity: 0;
}

section.two .information .textInformation div[class*="Text"] .alert {
  padding: 8px 0;
  margin: 8px 0;
  color: #fff8;
}

section.two .information .textInformation div[class*="Text"] button {
  display: block;
  padding: 8px 21px;
  margin: 34px auto 55px;
  color: #000;
  font-size: 1.1em;
  font-weight: 800;
  opacity: 0;
}

section.two .information .simbol {
  position: relative;
}

section.two .information .simbol svg {
  position: absolute;
  width: 400vw;
  left: -150vw;
  top: -150vh;
  z-index: -20;
}

section.two .information .simbol svg .adaptSvg .aneis:nth-child(1) {
  fill: none;
  stroke: #ffffff50;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  stroke-width: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transform-origin: center;
          transform-origin: center;
}

section.two .information .simbol svg .adaptSvg .aneis:nth-child(2) {
  fill: none;
  stroke: #ffffff45;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  stroke-width: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transform-origin: center;
          transform-origin: center;
}

section.two .information .simbol svg .adaptSvg .aneis:nth-child(3) {
  fill: none;
  stroke: #ffffff40;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  stroke-width: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transform-origin: center;
          transform-origin: center;
}

section.two .information .simbol svg .adaptSvg .aneis:nth-child(4) {
  fill: none;
  stroke: #ffffff35;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  stroke-width: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transform-origin: center;
          transform-origin: center;
}

section.two .information .simbol svg .adaptSvg .aneis:nth-child(5) {
  fill: none;
  stroke: #ffffff30;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  stroke-width: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transform-origin: center;
          transform-origin: center;
}

section.two .information .simbol svg .adaptSvg .aneis:nth-child(6) {
  fill: none;
  stroke: #ffffff25;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  stroke-width: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transform-origin: center;
          transform-origin: center;
}

section.two .information .simbol svg .adaptSvg .aneis:nth-child(7) {
  fill: none;
  stroke: #ffffff20;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  stroke-width: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transform-origin: center;
          transform-origin: center;
}

section.two .information .simbol svg .reachSvg .aneisPlus:nth-child(1) {
  opacity: 0;
  fill: none;
  stroke: #ffffff55;
  stroke-width: 0.1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

section.two .information .simbol svg .reachSvg .aneisPlus:nth-child(2) {
  opacity: 0;
  fill: none;
  stroke: #ffffff50;
  stroke-width: 0.1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

section.two .information .simbol svg .reachSvg .aneisPlus:nth-child(3) {
  opacity: 0;
  fill: none;
  stroke: #ffffff45;
  stroke-width: 0.1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

section.two .information .simbol svg .reachSvg .aneisPlus:nth-child(4) {
  opacity: 0;
  fill: none;
  stroke: #ffffff40;
  stroke-width: 0.1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

section.two .information .simbol svg .reachSvg .aneisPlus:nth-child(5) {
  opacity: 0;
  fill: none;
  stroke: #ffffff35;
  stroke-width: 0.1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

section.two .information .simbol svg .reachSvg .aneisPlus:nth-child(6) {
  opacity: 0;
  fill: none;
  stroke: #ffffff30;
  stroke-width: 0.1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

section.two .information .simbol svg .convertSvg .quadrante:nth-child(1) {
  fill: none;
  stroke: #fff5;
  stroke-width: 0.1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

section.two .information .simbol svg .convertSvg .quadrante:nth-child(2) {
  fill: none;
  stroke: #fff5;
  stroke-width: 0.1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

section.two .information .simbol svg .convertSvg .quadrante:nth-child(3) {
  fill: none;
  stroke: #fff5;
  stroke-width: 0.1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

section.two .information .simbol svg .convertSvg .quadrante:nth-child(4) {
  fill: none;
  stroke: #fff5;
  stroke-width: 0.1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

section.two .information .simbol svg .convertSvg .quadrante:nth-child(5) {
  fill: none;
  stroke: #fff5;
  stroke-width: 0.1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

section.two .information .simbol svg .convertSvg .quadrante:nth-child(6) {
  fill: none;
  stroke: #fff5;
  stroke-width: 0.1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

section.two .information .simbol svg .convertSvg .quadrante:nth-child(7) {
  fill: none;
  stroke: #fff5;
  stroke-width: 0.1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

section.two .information .simbol svg .convertSvg .quadrante:nth-child(8) {
  fill: none;
  stroke: #fff5;
  stroke-width: 0.1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

section.two .information .simbol svg .convertSvg .quadrante:nth-child(9) {
  fill: none;
  stroke: #fff5;
  stroke-width: 0.1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

section.two .information .simbol svg .hole {
  fill: #000;
}

section.two .information .simbol svg .planet {
  fill: #000;
}

section.two .information .simbol svg .dots {
  fill: none;
  stroke: #fff;
  stroke-width: 0.1;
  stroke-dasharray: 1, 5;
}

section.three {
  position: relative;
}

section.three .texto h1 {
  opacity: 0;
  margin-bottom: 13px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

section.three .texto h2 {
  opacity: 0;
  margin-bottom: 34px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

section.three .texto p {
  opacity: 0;
  margin-bottom: 8px;
  line-height: 1.5em;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

section.three .astronaut {
  opacity: 1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

section.four {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

section.four::before {
  opacity: 0;
  content: " ";
  width: 144px;
  height: 144px;
  margin: 13px;
  position: absolute;
  top: -21px;
  left: -21px;
  background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 64 64' version='1.1' viewBox='0 0 64 64' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff22'%3E%3Cpath d='m50.629 26.226c-0.1289-1.3935-0.0303-5.1816 3.5986-10.449 0.2745-0.3975 0.2247-0.9336-0.1162-1.2744-1.4795-1.4795-2.3955-2.4131-3.038-3.0664-0.8448-0.8614-1.2305-1.2539-1.795-1.7657-0.3769-0.3388-0.9472-0.3447-1.3281-0.0126-6.3252 5.5039-13.351 16.877-12.334 30.811 0.5957 8.1816 6.5635 14.12 14.189 14.12 7.8261 0 14.193-6.3662 14.193-14.192 0-7.5498-5.9257-13.741-13.37-14.17zm-0.8232 26.362c-6.5489 0-11.677-5.1582-12.195-12.265v-9.995e-4c-1.1436-15.671 8.1718-25.85 10.986-28.545 0.2744 0.2705 0.5879 0.5888 1.0498 1.0595 0.5566 0.5664 1.3184 1.3418 2.4707 2.4981-4.4053 6.7871-3.5742 11.623-3.21 12.316 0.1729 0.3291 0.5274 0.5508 0.8985 0.5508 6.7236 0 12.193 5.4697 12.193 12.193 1e-7 6.7227-5.4697 12.192-12.193 12.192z'/%3E%3Cpath d='m15.114 26.226c-0.1299-1.3896-0.0342-5.1748 3.5986-10.449 0.2735-0.3975 0.2246-0.9336-0.1162-1.2744-1.4766-1.4766-2.3916-2.4092-3.0332-3.0625-0.8476-0.8633-1.2344-1.2569-1.7988-1.7696-0.377-0.3388-0.9473-0.3437-1.3281-0.0136-6.3252 5.5039-13.352 16.875-12.337 30.812v9.995e-4c0.5977 8.1806 6.5664 14.119 14.192 14.119 7.8262 0 14.193-6.3662 14.193-14.192 0-7.5507-5.9258-13.743-13.371-14.17zm-0.8223 26.362c-6.5478 0-11.679-5.1582-12.198-12.266v9.995e-4c-1.1406-15.675 8.1748-25.852 10.989-28.546 0.2754 0.2705 0.5899 0.5908 1.0528 1.0625 0.5556 0.5664 1.3164 1.3408 2.4668 2.4951-4.4053 6.7881-3.5742 11.623-3.21 12.315 0.1729 0.3291 0.5283 0.5518 0.8994 0.5518 6.7237 0 12.193 5.4697 12.193 12.193-1e-7 6.7227-5.4697 12.192-12.193 12.192z'/%3E%3C/g%3E%3C/svg%3E%0A");
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

section.four::after {
  content: " ";
  width: 144px;
  height: 144px;
  margin: 13px;
  position: absolute;
  bottom: -21px;
  right: -21px;
  background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 64 64' version='1.1' viewBox='0 0 64 64' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff22'%3E%3Cpath d='m14.193 9.4116c-7.8261 0-14.192 6.3662-14.192 14.192 0 7.5498 5.9248 13.742 13.369 14.17 0.1289 1.3916 0.0322 5.1797-3.5977 10.449-0.2744 0.3975-0.2246 0.9336 0.11621 1.2744 1.4854 1.4854 2.4034 2.4209 3.0459 3.0752 0.8409 0.8555 1.2247 1.2461 1.7862 1.7559 0.1904 0.1728 0.4306 0.2597 0.67191 0.2597 0.23429 0 0.46769-0.081997 0.6562-0.2451 6.3252-5.5039 13.352-16.876 12.335-30.812-0.5957-8.1816-6.5635-14.12-14.191-14.12zm1.209 42.81c-0.2724-0.2685-0.583-0.5849-1.041-1.0508-0.5566-0.5673-1.3203-1.3447-2.4785-2.5068 4.4053-6.7881 3.5732-11.623 3.209-12.316-0.1729-0.3291-0.5274-0.5508-0.8985-0.5508-6.7226 0-12.192-5.4697-12.192-12.193 0-6.7227 5.4697-12.192 12.192-12.192 6.5489 0 11.678 5.1582 12.196 12.265 1.1426 15.674-8.1728 25.851-10.987 28.546z'/%3E%3Cpath d='m63.9 23.532v-9.995e-4c-0.5977-8.1806-6.5664-14.119-14.191-14.119-7.8262 0-14.193 6.3662-14.193 14.192 0 7.5498 5.9258 13.742 13.371 14.17 0.12891 1.3906 0.0312 5.1767-3.5996 10.449-0.2744 0.3975-0.2246 0.9336 0.1162 1.2744 1.4795 1.4795 2.3955 2.4131 3.0381 3.0664 0.8447 0.8613 1.2305 1.2539 1.7949 1.7656 0.1904 0.1719 0.4316 0.2588 0.6719 0.2588 0.23441 0 0.4678-0.081997 0.6562-0.2461 6.3252-5.5039 13.352-16.876 12.336-30.811zm-12.982 28.69c-0.2744-0.2705-0.5878-0.5888-1.0498-1.0595-0.5566-0.5665-1.3173-1.3418-2.4707-2.4981 4.4053-6.7891 3.5743-11.623 3.211-12.316-0.1729-0.3281-0.5283-0.5508-0.8994-0.5508-6.7237 0-12.193-5.4697-12.193-12.193 0-6.7227 5.4697-12.192 12.193-12.192 6.5478 0 11.678 5.1582 12.197 12.266v-9.995e-4c1.1416 15.672-8.1738 25.851-10.988 28.546z'/%3E%3C/g%3E%3C/svg%3E%0A");
}

section.four .cases .testimonial {
  padding: 21px;
  margin: 8px 2px;
  position: relative;
  background: #0002;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 1px #ffffff05;
          box-shadow: 0 0 20px 1px #ffffff05;
  opacity: 0;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

section.four .cases .testimonial .text h3 {
  opacity: 0;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

section.four .cases .testimonial .text h4 {
  opacity: 0;
  margin-bottom: 13px;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

section.four .cases .testimonial .text p {
  opacity: 0;
  line-height: 1.5em;
  margin-bottom: 8px;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

section.four .cases .testimonial .dots {
  opacity: 0;
  width: calc(100% + 26px);
  height: 70%;
  position: absolute;
  top: 15%;
  left: -13px;
  overflow: hidden;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

section.four .cases .testimonial .dots svg {
  fill: #fff1;
  position: absolute;
  top: 0;
}

section.four .cases .testimonial .dots svg circle {
  -webkit-box-shadow: 0 0 20px #fff5;
          box-shadow: 0 0 20px #fff5;
}

section.five .text {
  margin-bottom: 34px;
}

section.five .text > * {
  opacity: 0;
}

section.five .text h1 {
  margin-bottom: 34px;
}

section.five .text p {
  line-height: 1.5em;
  margin-bottom: 8px;
}

section.five .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.five .form form .camp {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  padding: 13px 21px;
  opacity: 0;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

section.five .form form .camp label {
  color: #fff8;
}

section.five .form form .camp input,
section.five .form form .camp select {
  width: 100%;
  display: block;
  padding: 5px 8px;
  position: relative;
  background: #ffffff02;
  border-radius: 0;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

section.five .form form .camp input option,
section.five .form form .camp select option {
  color: #fff;
  background: #000;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

section.five .form form .camp .input {
  width: 100%;
  height: 100%;
  margin: 5px 0px;
  position: relative;
}

section.five .form form .camp .input div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  border: 1px solid #fff3;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

section.five .form form .camp .input input:focus ~ div {
  border: 1px solid #fff8;
  -webkit-transform: scale(1.02, 1.05);
          transform: scale(1.02, 1.05);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

section.five .form form .camp .input input:focus-visible {
  outline: none;
}

section.five .form form button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 13px;
  margin: 13px auto;
  background: #00ff8055;
  border: 1px solid #fff5;
  color: #fff;
  font-weight: 700;
}

section.linhas {
  width: 100%;
  height: 0;
  padding: 0 21px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

section.linhas.active {
  height: 100vh;
  -webkit-transition: 2s ease;
  transition: 2s ease;
}

section.linhas .um {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #fff2;
  border-width: 0 1px;
}

header.active .logo {
  opacity: 1;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

section.one.active .text h1 {
  opacity: 1;
  -webkit-transition: 0.8s ease 2s;
  transition: 0.8s ease 2s;
}

section.one.active .text h2 {
  opacity: 1;
  -webkit-transition: 0.8s ease 1.6s;
  transition: 0.8s ease 1.6s;
}

section.one.active .imgTop .circleImg .img {
  opacity: 1;
  -webkit-transition: 0.8s ease 0.5s;
  transition: 0.8s ease 0.5s;
}

section.one.active .imgTop svg {
  width: 250%;
  -webkit-transition: 0.8s ease 0.8s;
  transition: 0.8s ease 0.8s;
}

section.one.active .imgTop svg :nth-child(1) {
  opacity: 0.5;
  -webkit-transition: 0.8s ease 0.8s;
  transition: 0.8s ease 0.8s;
  stroke-width: 0.1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

section.one.active .imgTop svg :nth-child(2) {
  opacity: 0.3;
  -webkit-transition: 0.8s ease 1s;
  transition: 0.8s ease 1s;
  stroke-width: 0.1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

section.one.active .imgTop svg :nth-child(3) {
  opacity: 1;
  -webkit-transition: 0.8s ease 1.1s;
  transition: 0.8s ease 1.1s;
  stroke-width: 0.1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

section.one.active .imgTop svg :nth-child(4) {
  opacity: 0.1;
  -webkit-transition: 0.8s ease 1.15s;
  transition: 0.8s ease 1.15s;
  stroke-width: 0.1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

section.two.active h1 {
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(1) {
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(1) label h2 {
  opacity: 0.5;
  -webkit-transition: 0.3s ease-in 0.2s;
  transition: 0.3s ease-in 0.2s;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(1) label p {
  opacity: 1;
  -webkit-transition: 0.3s ease-in 0.3s;
  transition: 0.3s ease-in 0.3s;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(2) {
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(2) label h2 {
  opacity: 0.5;
  -webkit-transition: 0.3s ease-in 0.2s;
  transition: 0.3s ease-in 0.2s;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(2) label p {
  opacity: 1;
  -webkit-transition: 0.3s ease-in 0.3s;
  transition: 0.3s ease-in 0.3s;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(3) {
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(3) label h2 {
  opacity: 0.5;
  -webkit-transition: 0.3s ease-in 0.2s;
  transition: 0.3s ease-in 0.2s;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(3) label p {
  opacity: 1;
  -webkit-transition: 0.3s ease-in 0.3s;
  transition: 0.3s ease-in 0.3s;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(4) {
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(4) label h2 {
  opacity: 0.5;
  -webkit-transition: 0.3s ease-in 0.2s;
  transition: 0.3s ease-in 0.2s;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(4) label p {
  opacity: 1;
  -webkit-transition: 0.3s ease-in 0.3s;
  transition: 0.3s ease-in 0.3s;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(5) {
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(5) label h2 {
  opacity: 0.5;
  -webkit-transition: 0.3s ease-in 0.2s;
  transition: 0.3s ease-in 0.2s;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(5) label p {
  opacity: 1;
  -webkit-transition: 0.3s ease-in 0.3s;
  transition: 0.3s ease-in 0.3s;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(6) {
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(6) label h2 {
  opacity: 0.5;
  -webkit-transition: 0.3s ease-in 0.2s;
  transition: 0.3s ease-in 0.2s;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(6) label p {
  opacity: 1;
  -webkit-transition: 0.3s ease-in 0.3s;
  transition: 0.3s ease-in 0.3s;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(7) {
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(7) label h2 {
  opacity: 0.5;
  -webkit-transition: 0.3s ease-in 0.2s;
  transition: 0.3s ease-in 0.2s;
}

section.two.active .information .boxServices div[class*="Box"]:nth-child(7) label p {
  opacity: 1;
  -webkit-transition: 0.3s ease-in 0.3s;
  transition: 0.3s ease-in 0.3s;
}

section.two.active .information .simbol {
  position: relative;
}

section.two.active .information .simbol svg .adaptSvg .aneis:nth-child(1) {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  stroke-width: 0.1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

section.two.active .information .simbol svg .adaptSvg .aneis:nth-child(2) {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  stroke-width: 0.1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

section.two.active .information .simbol svg .adaptSvg .aneis:nth-child(3) {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  stroke-width: 0.1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

section.two.active .information .simbol svg .adaptSvg .aneis:nth-child(4) {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  stroke-width: 0.1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

section.two.active .information .simbol svg .adaptSvg .aneis:nth-child(5) {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  stroke-width: 0.1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

section.two.active .information .simbol svg .adaptSvg .aneis:nth-child(6) {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  stroke-width: 0.1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

section.two.active .information .simbol svg .adaptSvg .aneis:nth-child(7) {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  stroke-width: 0.1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

section.two.active .information .simbol svg .hole {
  fill: #000;
}

section.two.active .information .simbol svg .planet {
  fill: #000;
}

section.two.active .information .simbol svg .dots {
  fill: none;
  stroke: #fff;
  stroke-width: 0.1;
  stroke-dasharray: 1, 5;
}

section.three.active .astronaut.active {
  opacity: 0.1;
  z-index: -5;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

section.three.active .astronaut.active ~ .texto h1 {
  opacity: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

section.three.active .astronaut.active ~ .texto h2 {
  opacity: 1;
  -webkit-transition: 0.3s ease 0.5s;
  transition: 0.3s ease 0.5s;
}

section.three.active .astronaut.active ~ .texto p {
  opacity: 1;
  -webkit-transition: 0.3s ease 0.8s;
  transition: 0.3s ease 0.8s;
}

section.four.active::before {
  opacity: 1;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

section.four.active .cases .testimonial.active {
  opacity: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

section.four.active .cases .testimonial.active .text h3 {
  opacity: 1;
  -webkit-transition: 0.5s ease-in 0.5s;
  transition: 0.5s ease-in 0.5s;
}

section.four.active .cases .testimonial.active .text h4 {
  opacity: 1;
  -webkit-transition: 0.5s ease-in 0.8s;
  transition: 0.5s ease-in 0.8s;
}

section.four.active .cases .testimonial.active .text p {
  opacity: 1;
  -webkit-transition: 0.5s ease-in 1s;
  transition: 0.5s ease-in 1s;
}

section.four.active .cases .testimonial.active .dots {
  opacity: 1;
  -webkit-transition: 0.5s ease 0.2s;
  transition: 0.5s ease 0.2s;
}

section.five.active .text > *:nth-child(1) {
  opacity: 1;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

section.five.active .text > *:nth-child(2) {
  opacity: 1;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

section.five.active .text > *:nth-child(3) {
  opacity: 1;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

section.five.active .form form .camp:nth-child(1) {
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

section.five.active .form form .camp:nth-child(2) {
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

section.five.active .form form .camp:nth-child(3) {
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

section.five.active .form form .camp:nth-child(4) {
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

section.five.active .form form .camp:nth-child(5) {
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

section.five.active .form form .camp:nth-child(6) {
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

section.five.active .form form .camp:nth-child(7) {
  opacity: 1;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

@media screen and (min-width: 820px) {
  html {
    font-size: 20px;
  }
  section.one {
    height: 100vh;
  }
  section.one .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.one .container .imgTop .circleImg {
    width: 377px;
    height: 377px;
  }
  section.one .container .imgTop .circleImg .img {
    width: 377px;
    height: 377px;
  }
  section.one .container .imgTop svg {
    width: 300%;
  }
  section.two .container .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  section.two .container .information .scroll .boxServices {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.two .container .information .scroll .boxServices div[class*="Box"] {
    font-size: 0.7em;
  }
  section.two .container .information .scroll .boxServices div[class*="Box"] label p {
    max-width: 233px;
  }
  section.two .container .information .textInformation {
    width: 100%;
    height: 610px;
  }
  section.two .container .information .textInformation div[class*="Text"] {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  section.two .container .information .textInformation div[class*="Text"] .text {
    padding: 0 89px;
  }
  section.two .container .information .textInformation div[class*="Text"] .text button {
    margin: 34px 0;
  }
  section.two .container .information .simbol {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -5;
  }
  section.two .container .information .simbol svg {
    position: absolute;
    width: 200%;
    left: -100%;
    top: -200%;
    z-index: -20;
  }
  section.three .texto p {
    margin-bottom: 21px;
  }
  section.four .cases {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.four .cases .testimonial {
    width: calc(90% / 3);
    margin: 0 calc(10% / 6);
    font-size: 16px;
    font-weight: 200;
  }
  section.five .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.five .container .text {
    width: 50%;
    padding-right: 21px;
  }
  section.five .container .form {
    width: 50%;
  }
  section.five .container .form form .camp input, section.five .container .form form .camp select {
    padding: 8px 13px;
  }
  section.linhas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.linhas .um {
    width: 21%;
  }
  section.linhas .dois {
    width: 58%;
    height: 100%;
    border-style: solid;
    border-color: #fff2;
    border-width: 0 1px;
  }
  section.linhas .tres {
    width: 21%;
    height: 100%;
    border-style: solid;
    border-color: #fff2;
    border-width: 0 1px;
  }
}
/*# sourceMappingURL=Style.css.map */